//this is for things that aren't bootstrap variables

// p {
//     text-align: justify;
// }

.logo {
   font-family: "Playfair Display", serif;
}

input[type="text"] {
   font-size: 16px;
}

.catch-phrase {
   font-family: "Caveat", cursive;
   font-size: 32px;
   word-spacing: 2px;
}

@media (min-width: 359px) {
   h1 {
      font-size: $font-size-base * 2.5;
   }

   img {
      width: 35px;
      margin-top: 20px;
   }

   .catch-phrase {
      font-size: $font-size-base * 1.25;
   }
}

@media (max-width: 575px) {
   .sort-prompt {
      text-align: left !important;
   }
}
