//this is for things that aren't bootstrap variables

.form-control {
   resize: none;
}

a {
   font-weight: $font-weight-bold;
}

.no-underline:hover {
   text-decoration: none !important;
}

.logo-text-font {
   font-family: "Playfair Display", serif;
}

.logo-text-size {
   @include media-breakpoint-only(xs) {
      font-size: $font-size-base * 1.75;
      line-height: 1;
   }
   @include media-breakpoint-only(sm) {
      font-size: $font-size-base * 1.75;
   }
   @include media-breakpoint-only(md) {
      font-size: $font-size-base * 2.25;
   }
   @include media-breakpoint-only(lg) {
      font-size: $font-size-base * 2.5;
   }
   @include media-breakpoint-only(xl) {
      font-size: $font-size-base * 3;
      margin-top: 20px;
   }
}

.answer-question-link {
   line-height: 1;
   margin-bottom: 5px;
   @include media-breakpoint-only(xs) {
   }
   @include media-breakpoint-only(sm) {
      // margin-top: 68px;
   }
   @include media-breakpoint-only(md) {
      // margin-top: 35px;
   }
   @include media-breakpoint-only(lg) {
      // margin-top: 42px;
   }
   @include media-breakpoint-only(xl) {
      // margin-top: 54px;
   }
}

.submit-new-question,
.sign-up-prompt {
   font-weight: $font-weight-bold;
}

.answer-question-link {
   color: $white;
   font-weight: normal;
}

.thank-you-message {
   color: $success;
}

.logo {
   @include media-breakpoint-only(xs) {
      width: 30px;
      margin-top: -20px;
   }
   @include media-breakpoint-only(sm) {
      width: 30px;
      margin-top: -20px;
   }
   @include media-breakpoint-only(md) {
      width: 43px;
      margin-top: -30px;
   }
   @include media-breakpoint-only(lg) {
      width: 45px;
      margin-top: -37px;
   }
   @include media-breakpoint-only(xl) {
      width: 55px;
      margin-top: -44px;
   }
}

hr {
   height: 2px;
   border-width: 0;
   color: $gray-100;
   background-color: $gray-100;
}

// input[type="text"] {
//    @include media-breakpoint-only(xs) {
//       font-size: 24px;
//    }
// }

.header-solid {
   background-color: $gray-900;

   color: $white;
   a {
      color: white;
   }
}

// #xs-header-alignment {
//    padding-left: 37px;
// }

a:hover {
   cursor: pointer;
}
