//this is for things that aren't bootstrap variables

// p {
//     text-align: justify;
// }

.logo-text {
   font-family: "Playfair Display", serif;
   @include media-breakpoint-only(xs) {
      font-size: $font-size-base * 2;
      margin-bottom: -10px;
   }
   @include media-breakpoint-only(sm) {
      font-size: $font-size-base * 1.5;
   }
   @include media-breakpoint-only(md) {
      font-size: $font-size-base * 2.5;
   }
   @include media-breakpoint-only(lg) {
      font-size: $font-size-base * 3;
   }
   @include media-breakpoint-only(xl) {
      font-size: $font-size-base * 3.5;
   }
}

.answer-question-link {
   @include media-breakpoint-only(xs) {
      font-size: $font-size-base;
   }
   @include media-breakpoint-only(sm) {
      font-size: $font-size-base * 0.75;
   }
   @include media-breakpoint-only(md) {
      font-size: $font-size-base * 2.5;
   }
   @include media-breakpoint-only(lg) {
      font-size: $font-size-base * 3;
   }
   @include media-breakpoint-only(xl) {
      font-size: $font-size-base * 3.5;
   }
}

img {
   @include media-breakpoint-only(xs) {
      width: 25px;
      margin-top: 0px;
      margin-bottom: 20px;
   }
   @include media-breakpoint-only(sm) {
   }
   @include media-breakpoint-only(md) {
   }
   @include media-breakpoint-only(lg) {
   }
   @include media-breakpoint-only(xl) {
   }
}

.answer-question-link:hover {
   cursor: pointer;
}

input[type="text"] {
   font-size: 16px;
}

.catch-phrase,
.email-explanation {
   font-family: "Caveat", cursive;
   font-size: 32px;
   word-spacing: 2px;
}

.header-solid {
   background-color: $gray-700;
}

.answer-a-question {
   font-weight: 100;
}

// @media (min-width: 359px) and (max-width: 540px) {
//    h1 {
//       font-size: $font-size-base * 2.5;
//    }

//    img {
//       width: 35px;
//       margin-top: 20px;
//    }

//    .catch-phrase {
//       font-size: $font-size-base * 1.25;
//    }
// }

// @media (max-width: 575px) {
//    .sort-prompt {
//       text-align: left !important;
//    }
// }
